img {

    border: 0px !important;
    outline: 0 !important;
    
    }

.bg-bs-green {
    background: #274700;
}

.bsorange {
    color: #FFA63B;
}
.bg-bsorange {
    background: #FFA63B;
}

.bg-bsorange2 {
    background: #bf761e
}

.h0-25 { height: 0.25rem; }
.w3-5 { width: 6rem; }
.h3-5 { height: 6rem; }
.w2-5 { width: 3rem;}
.h2-5 { height: 3rem; }
.h4-5 { height: 12rem; }
.h5-5 { height: 24rem; }
.h6 { height: 32rem; }
.h6-5 { height: 48rem; }

.w4-5 { width: 12rem; }
.mw4-5 { max-width: 12rem; }
.w5-5 { width: 24rem; }
.mw5-5 { max-width: 24rem; }
.w6 { width: 32rem;}
.w6-5 { width: 48rem; }
.w7 { width: 64rem;}

.we42 { width: 42rem; }



@media screen and (min-width:31em) {
    .h0-25-ns { height: 0.25rem; }
    .w3-5-ns { width: 6rem; }
    .h3-5-ns { height: 6rem; }
    .mw4-5-ns { max-width: 12rem; }
    .w2-5-ns { width:3rem; }
    .h2-5-ns { height: 3rem; }
    .h4-5-ns { height: 12rem; }
    .h5-5-ns { height: 24rem; }
    .h6-ns { height: 32rem; }
    .h6-5-ns { height: 48rem; }
    .mw5-5-ns { max-width: 24rem; }
    .w5-5-ns { width: 24rem; }
    .h6-ns { height: 32rem; }
    .w6-ns { width: 32rem; }
    .w6-5-ns { width: 48rem; }
    .w7-ns { width: 64rem; }
    .fxl-ns { font-size: 4rem; }
}

@media screen and (min-width:31em) and (max-width:60em) {
    .h0-25-m { height: 0.25rem; }
    .w3-5-m { width: 6rem; }
    .h3-5-m { height: 6rem; }
    .mw4-5-m { max-width: 12rem; }
    .w2-5-m { width: 3rem; }
    .h2-5-m { height: 3rem; }
    .h4-5-m { height: 12rem; }
    .h5-5-m { height: 24rem; }
    .h6-m { height: 32rem; }
    .h6-5-m { height: 48rem; }
    .w5-5-m { width: 24rem; }
    .mw5-5-m { max-width: 24rem; }
    .w6-m { width: 32rem;}
    .w6-5-m { width: 48rem; }
    .h6-m { height: 32rem; }
    .w7-m { height: 64rem; }
}

@media screen and (min-width:60em) {
    .h0-25-l { height: 0.25rem; }
    .w3-5-l { width: 6rem; }
    .h3-5-l { height: 6rem; }
    .w2-5-l { width: 3rem; }
    .h2-5-l { height: 3rem; }
    .mw4-5-l { max-width: 12rem; }
    .h4-5-l { height: 12rem; }
    .h5-5-l { height: 24rem; }
    .h6-5-l { height: 48rem; }
    .h6-l { height: 32rem; }
    .w6-l { width: 32rem;}
    .w6-5-l { width: 48rem; }
    .mw5-5-l { max-width: 24rem; }
    .h6-l { height: 32rem; }
    .w7-l { height: 64rem; }
    .w5-5-l { width: 24rem; }
}


.fxl { font-size: 4rem; }

.hover-b { padding: 1px }
.hover-b:hover {
    padding: 0px;
    border: 1px solid rgba(255,255,255,0.5);
}

body {
    font-family: 'Roboto';
}

.playfair {
    font-family: 'Playfair Display';
}

.yeseva {
    font-family: 'Yeseva One', sans-serif;
}

.header {
    z-index: 9999999999;
}

.bs-dropmenu {
    display: none;
    opacity: 0;
    top: 1.75rem;
    left: 0;
    z-index: 9;
    height: auto;
}

.hover-dropmenu:hover .bs-dropmenu {
    display: flex;
    opacity: 1;
}

.bs-dropmenu-bg {
    left: 0;
    top: 0;
    display: none;
}

.hover-dropmenu:hover .bs-dropmenu-bg {
    display: block;
    z-index: -1;
}

.bs-submenu {
    display: none;
    opacity: 0;
    left: 16rem;
}

.hover-bs-submenu:hover > .bs-submenu {
    display: flex;
    opacity: 1;
}

.nav-panel {
    margin-bottom: 0.75rem;
}


.product-line-item {
    flex-grow: 1;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    align-items: start;
    margin-bottom: 3rem;

}
@media screen and (min-width:31em) {
    .product-line-item {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 0rem;
        width: auto;
    }
}

@media screen and (min-width:31em) and (max-width:60em) {
    .product-line-item {
        padding-left: 1em;
        padding-right: 1rem;
        margin-bottom: 3rem;
        width: auto;
    }
}

.pimage {
    width: 100%
}


.pimage > div {
    height: 8rem;
    margin-bottom: 1rem;
    flex-grow: 1;
}

@media screen and (min-width:31em) {
    .pimage > div {
        height: 19rem;
    }
}

@media screen and (min-width:31em) and (max-width:60em) {
    .pimage > div {
        height: 19rem;
    }
}

.ptitle {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 0rem;
}

@media screen and (min-width:31em) {
    .ptitle { margin-bottom: 1rem;
    }
}

.pprice > span {
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (min-width:31em) {
    .pprice > span {
        font-size: 2rem;
    }
}

.pprice > span > span {
    font-size: 1rem;
    margin-left: 0.5rem;
}

@media screen and (min-width:31em) {
    .pprice > span > span {
        font-size: 1rem;
    }
}

.linear-none-black {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.82),rgba(255, 255, 255, 0));
}

.ob-contain {
    object-fit: contain;
}

.ob-cover {
    object-fit: cover;
}

.mt-1 {
    margin-top: -1rem;
}

.mt-2 {
    margin-top: -2rem;
}

.mt-3 {
    margin-top: -3rem;
}

.article-hovered:hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 1rem;
    
}

.article-hovered:hover .is-shown {
    display: flex;
    opacity: 1;
    transition: 0.2s;
}

@media screen and (max-width:31em) {
    .article-hovered:hover .is-shown {
        display: none;
        opacity: 1;
        transition: 0.2s;
    }
}

.horizontal-line {
    height: 6px;
}

.vertical-line {
    width: 6px;
    height: 22px;
    position: absolute;
    left: calc(50%-3px);
    top: calc(50%-11px);
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.left-minus-1 {
    left: -1rem;
}
.left-minus-2 {
    left: -2rem;
}
.left-minus-3 {
    left: -3rem;
}

@media screen and (min-width:31em) {
    .left-minus-3-ns { left: -3rem;}
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.label--selected span {
    color: black;
}
.label--selected div {

}

.swp-button {
    transition: all 0.3s;
    border: none !important;
    background: none;
    text-align: left;
    position: relative;
}

.swp-button:hover {
}

.swp-button:after {
    width: 0%;
    height: 100%;
    top: 0;
    right: -15px;
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 50%;
}

.swp-button:hover:after {
    right: -25px;
    width: 15%;
    border-radius: 50%;
}

.swp-button--selected {
    color: orange;
}

.swp-button--selected:after {
    width: 100%;
    border-radius: 0px;
    right: 0px;
}

.z-3-on-hover {
}

.z-3-on-hover:hover {
    z-index: 3;
}

.show-on-hover-orange {
    opacity: 0;
    transition: all 0.3s;
}

h3:hover .show-on-hover-orange {
    opacity: 1;
    transition: all 0.3s;
}

.dim-orange:hover {
    color: orange
}

.mobile-horizontal-scroll {
    overflow-x: scroll;
    max-width: 100vw;
    overflow-y: hidden;
}

@media screen and (min-width:31em) {
    .mobile-horizontal-scroll {
        overflow-x: visible;
        max-width: auto;
        overflow-y: visible;
    }
}

.tshadow-black {
    text-shadow: 2px 2px 26px #000000;
}

.mt-productbox {
    margin-top: 0rem;
}


@media screen and (min-width:31em) {
    .mt-productbox {
        margin-top: -24rem;
    }
}

.product-thumbs-holder {
    bottom: 0;
    right: -1rem;
}
